spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    hikari:
      maximum-pool-size: 5
  data:
    redis:
      url: ${SPRING_DATA_REDIS_URL}
  jpa:
    show-sql: false

logging:
  level:
    com.orthowatch: INFO
    org.springframework.web: INFO
