spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/orthowatch
    username: orthowatch_user
    password: orthowatch_pass
  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.orthowatch: DEBUG
    org.springframework.security: DEBUG
