spring:
  config:
    activate:
      on-profile: dev

  data:
    redis:
      host: localhost
      port: 6379
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        jdbc:
          time_zone: Asia/Kolkata

logging:
  level:
    com.orthowatch: DEBUG
    org.springframework.security: DEBUG

app:
  jwt:
    secret: ZGV2c2VjcmV0a2V5bWluaW11bTMyY2hhcmFjdGVyc2xvbmc=
    refresh-secret: ZGV2cmVmcmVzaHNlY3JldG1pbmltdW0zMmNoYXJhY3RlcnM=
    expiration: 1800000 # 30 minutes in ms
    refresh-expiration: 604800000 # 7 days in ms
